* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}
input {
    outline: none;
    border: none;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.keskita{
    margin: 20vh auto;
    width: 50vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}